.jumbotron {
  padding: 1em 1em;
}

#order-alert {
  display: none;
}

#ingredient-alert {
  display: none;
}

#size-alert {
  display: none;
}

#beverage-alert {
  display: none;
}

.order {
  display: none;
}

.text-bg-primary {
  color: #fff!important;
  background-color: RGBA(13,110,253,var(--bs-bg-opacity,1))!important;
}